.registration-page-response {
  margin: 8px;
  color: white;
  font-weight: bold;
  text-align: center;

  .msg {
    display: inline-block;
    width: 100%;
    padding: 12px;
    border-radius: 2px;
  }
}

