:root {
	--ion-color-primary: #45f2de;
	--ion-color-primary-rgb: 69,242,222;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #3dd5c3;
	--ion-color-primary-tint: #58f3e1;

	--ion-color-secondary: #c468bd;
	--ion-color-secondary-rgb: 196,104,189;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #ac5ca6;
	--ion-color-secondary-tint: #ca77c4;

	--ion-color-tertiary: #48a865;
	--ion-color-tertiary-rgb: 72,168,101;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #3f9459;
	--ion-color-tertiary-tint: #5ab174;

	--ion-color-success: #00ff66;
	--ion-color-success-rgb: 0,255,102;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #00e05a;
	--ion-color-success-tint: #1aff75;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #9dabe1;
	--ion-color-medium-rgb: 157,171,225;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #8a96c6;
	--ion-color-medium-tint: #a7b3e4;

	--ion-color-light: #dbecf5;
	--ion-color-light-rgb: 219,236,245;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #c1d0d8;
	--ion-color-light-tint: #dfeef6;

}
